@model TTQK7.TBBD_A1

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TBBD_A1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CanhBTTM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanhBTTM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanhBTTM_Dut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanhBTTM_Dut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanhQK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanhQK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanhQK_Dut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanhQK_Dut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lanphatchuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lanphatchuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThuTinHieuBo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuTinHieuBo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThuTinHieuQK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuTinHieuQK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QKPhatTinHieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QKPhatTinHieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaoCaoNgay.NguoiBaoCao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaoCaoNgay.NguoiBaoCao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
